.idea/modules.xml
.idea/misc.xml
out/production/Project2_3-A2/Hanze/ServerCommunication.class
out/production/Project2_3-A2/Hanze/TestThread.class
out/production/Project2_3-A2/Hanze/ServerCommunication.class

/bin/
