/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */


.tttGridpane
{
-fx-border-radius: 10 10 10 10;
-fx-background-radius: 10 10 10 10;
}

.menuAnchor{
-fx-background-color:#6eccb6;
	
}


.board{
-fx-border-radius: 10 10 10 10;
 -fx-background-radius: 10 10 10 10;
}
.list-cell {
    -fx-control-inner-background: white;
    -fx-control-inner-background-alt: derive(-fx-control-inner-background, 30%);
}

.Sp_T_Button {
-fx-background-color:  #588c76;
-fx-background-radius:  10, 10, 10, 10;
}

.Sp_T_Button:hover{
-fx-background-color : #97c7b3;
-fx-background-radius :  10, 10, 10, 10;
}
.Sp_T_Button:pressed
{
-fx-background-color : #588c76;
-fx-background-radius :  10, 10, 10, 10;
}


.AI_T_Button{
-fx-background-color : #588c76;
-fx-background-radius :  10, 10, 10, 10;
}

.AI_T_Button:hover
{
-fx-background-color : #97c7b3;
-fx-background-radius :  10, 10, 10, 10;

}
.AI_T_Button:pressed
{
-fx-background-color : #588c76;
-fx-background-radius :  10, 10, 10, 10;
}


.Sp_R_Button
{
-fx-background-color : #588c76;
-fx-background-radius :  10, 10, 10, 10;
}
.Sp_R_Button:hover
{
-fx-background-color : #97c7b3;
-fx-background-radius :  10, 10, 10, 10;

}
.Sp_R_Button:pressed
{
-fx-background-color : #588c76;
-fx-background-radius :  10, 10, 10, 10;
}
.AI_R_Button{
-fx-background-color : #588c76;
-fx-background-radius :  10, 10, 10, 10;
}
.AI_R_Button:hover{
-fx-background-color : #97c7b3;
-fx-background-radius :  10, 10, 10, 10;

}
.AI_R_Button:pressed{
-fx-background-color : #588c76;
-fx-background-radius :  10, 10, 10, 10;
}
